<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<h2>Learn詳細</h2>
			    <div>
			    	<h4>パート</h4>
			    	<%= @learn.part %>
			    	<h4>タイトル</h4>
			    	<%= @learn.title %>
			    	<h4>サブタイトル</h4>
			    	<%= @learn.subtitle %>
			    	<h4>説明文</h4>
			    	<%= @learn.explanation %>
			    	<h4>非エッセンシャル思考例</h4>
			    	<%= @learn.example_non_essential_thinking %>
			    	<h4>エッセンシャル思考例</h4>
			    	<%= @learn.example_essential_thinking %>
			    </div>
			<!-- コメント欄を作る -->
			<div>コメントをクリエイト</div>
			<!-- コメント終了 -->
		</div>
	</div>
</div>